.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    background: #fff;
    transition: 0.5s;
}
.navbar.dark{
    background: #906060;
}

.logo{
    width: 160px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;

}

.dark ul{
    color: #fff;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box.dark{
    background: white;
}

.search-box img{
    /* background: black; */
    /* border-radius: 50%; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-left: 7px;
    /* color: black; */
}



.search-box input{
    flex: 1;
    padding: 6px 6px;
    border-radius: 15px;
    background: transparent;
    border: 0;
    outline: 0;
    border: 0.5px solid rgb(255, 239, 239);
    font-size: 18px;
    max-width: 200px;
}

.dark .search-box input{
    border: 0.5px solid black;
}



.search-box input::placeholder{
    color: #fff;
}

.dark .search-box input::placeholder{
    color: #222;
}

.search-box img{
    width: 20px;
    cursor: pointer;
}